HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



# Bỏ qua các tệp cấu hình khác (nếu cần)
application.properties
*.properties
**/application.yml
*.yml
**/application.properties

# Bỏ qua các tệp cấu hình môi trường
**/*.yml
**/*.yaml


**/.env
**/.env.*
**/.env.local
**/.env.development
**/.env.production

**/*.pem
